:root{
    --main-color:#F7F7F7; 
    --var-color:#444444;

}
.bodyHead{
    background-image:url("./src/components/img/headBody.png") ;
    display: flex;
    height: 400px;
    width: 100%;
}
.Head{
    display: block;
    color: var(--var-color);
    padding-left: 160px;
    margin-top: 140px;
}
.bodyHeadName{
    color: #444444;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    width: 600px;
    padding-left: 43px;
}
.bodyHeadNameSub{
    color: #333;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    width: 600px;
    text-align: center;
}
.BodySecond{
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    z-index: 1;
}
span{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size:2.7rem;
}
span:hover{
    cursor: text;
}
.Circle{
    width: 350px;
    height: 330px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    z-index: 0;
    margin-top: 55px;
    margin-left: 80px;
    border: 1px dashed #fff;  
    position: relative;
}
.CircleIcon:hover{
    cursor: pointer;
}
.icon1{
    position: absolute;
    font-size: 2rem;
    top: 168px;
    left: -20px;
}
.icon2{
    position: absolute;
    font-size: 2rem;
    top: 83px;
    left: -18px;
}
.icon3{
    position: absolute;
    font-size: 2rem;
    top: 7px;
    left: 38px;

}
.icon4{
    position: absolute;
    font-size: 2rem;
    top: -30px;
    left: 153px;
}
.icon5{
    position: absolute;
    font-size: 2rem;
    top: 7px;
    right: 38px;
}
.icon6{
    position: absolute;
    font-size: 2rem;
    top: 83px;
    right: -18px;
}
.icon7{
    
    position: absolute;
    font-size: 2rem;
    top: 168px;
    right: -20px;

}
.CircleIcon{
    padding: 5px 11px 0px 12px;
    background-color: #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: #fff;
}
.CircleIcon:hover{
    transform: scale(1);
    animation: heart 1s ease-in-out infinite;
}
@keyframes heart {
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.CircleHidden{
    background-image: url("./src/components/img/headBody.png") ;
    width: 100%;
    height: 100px;
    margin-top: -80px;
    z-index: 1;
}
.CircleBack{
    width: 277px;
    height: 260px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 36px;
    z-index: 1;
}
.CircleBack:hover{
    cursor: text;
}
.CircleContent{
    width: 235px;
    height: 226px;
    border-radius: 50%;
    background-color: #ededed;
    margin-top: 17px;
    margin-left: 21px;

}
.CircleContent p{
    font-size: 12px;
}
.CircleContent h4{
    font-size: 20px;
}
.content-text1
{
    padding-top: 60px;
    text-align: center;
}
.content-text1
{
    padding-top: 60px;
    text-align: center;
}
.content-text2
{
    padding-top: 60px;
    text-align: center;
}
.content-text3
{
    padding-top: 60px;
    text-align: center;
}
.content-text4
{
    padding-top: 60px;
    text-align: center;
}
.content-text5
{
    padding-top: 60px;
    text-align: center;
}
.content-text6
{
    padding-top: 60px;
    text-align: center;
}
.content-text7
{
    padding-top: 60px;
    text-align: center;
}
.hidden{
    display: none;
}
//body second
.BodyImage{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight:400;
    margin-top: 10px;
    z-index: 1;
}
.BodyImage:hover{
    cursor: pointer;
}
.BodyImage11{
    width: 250px;
    height: 167px;
    margin-bottom: 33px;
    background-image:url("./src/components/img/bodySecond2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 190px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}

.BodyImage12{
    width: 250px;
    height: 167px;
    background-image:url("./src/components/img/bodySecond1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    padding-top: 30px;
}
.BodyImage13{
    width: 540px;
    height: 370px;
    background-image:url("./src/components/img/bodySecond3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    margin-top: 4px;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
  
}
.BodyImage14{
    width: 250px;
    height: 167px;
    margin-bottom: 33px;
    background-image:url("./src/components/img/bodySecond4.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 100px;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    padding-top: 30px;
}
.BodyImage15{
    width: 250px;
    height: 167px;
    background-image:url("./src/components/img/bodySecond5.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 100px;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    padding-top: 30px;
}
p{
    z-index: 1;
}
.namesmall1{
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: loading;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes loading{
   from{
    top: 10px;
   }
   to{
    top: 0px;
   }
}

.namesmall2{
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: loading;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    position: relative;
}
.namesmall3{
    font-weight: 400;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    animation-name: font;
    animation-duration: 0.2s;
}
@keyframes font{
    from{
        font-size: 1.1rem;
        padding-left: 0px;
        padding-right: 0px;
    } 
    to{
        font-size: 0.8rem;
        padding-left: 10px;
        padding-right: 10px;
    }

}
.namesmall4{
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: loading;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    position: relative;
}
.namesmall5{
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: loading;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    position: relative;
}
.BodyImageSquare{
    border: 2px solid #fff;
    width:600px;
    height:400px;
    transition: width 0.2s, height 0.2s;
}
.BodyImage13:hover .BodyImageSquare {
  width:  470px;
  height: 310px;
}
.hideNow{
    display: none ;
}
.BodyImage15:hover .hideNow{
    
    display: block;
}
.BodyImage14:hover .hideNow{
    display: block;
}

.BodyImage13:hover .hideNow{
    display: block;
}
.BodyImage12:hover .hideNow{
    display: block;
}
.BodyImage11:hover .hideNow{
    display: block;
}

.BodyImage11:hover .blurBackgroud{
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0px;
    left: 0px;
    backdrop-filter: brightness(60%);
    z-index: 0;
}
.BodyImage12:hover .blurBackgroud{
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0px;
    left: 0px;
    backdrop-filter: brightness(60%);
    z-index: 0;
}
.BodyImage13:hover .blurBackgroud{
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0px;
    left: 0px;
    backdrop-filter: brightness(60%);
    z-index: 0;
}
.BodyImage14:hover .blurBackgroud{
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0px;
    left: 0px;
    backdrop-filter: brightness(60%);
    z-index: 0;
}
.BodyImage15:hover .blurBackgroud{
    display: block;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0px;
    left: 0px;
    backdrop-filter: brightness(60%);
    z-index: 0;
}
.blurBackgroud{
    display: none;
}
//BODY THIRD
.BodyThird span{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size:2.7rem;

}
.bodySlider{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imagecontains1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imagecontains2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imagecontains3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imagecontains4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imagecontains5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imagePeople1{
    background-image: url("./src/components/img/testimonials-1.jpg");
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.imagePeople2{
    background-image: url("./src/components/img/testimonials-2.jpg");
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.imagePeople3{
    background-image: url("./src/components/img/testimonials-3.jpg");
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.imagePeople4{
    background-image: url("./src/components/img/testimonials-4.jpg");
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.imagePeople5{
    background-image: url("./src/components/img/testimonials-5.jpg");
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.imagePeopleText1 span{
    display: flex;
    font-size: 1rem;
    width: 490px;
    height: 180px;
    background-color: #F6F7F8;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    padding:0 20px;
    text-align: justify;
    
}
.imagePeopleText2 span{
    display: flex;
    font-size: 1rem;
    width: 490px;
    height: 180px;
    background-color: #F6F7F8;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    padding:0 20px;
    text-align: justify;
    
}.imagePeopleText3 span{
    display: flex;
    font-size: 1rem;
    width: 490px;
    height: 180px;
    background-color: #F6F7F8;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    padding:0 20px;
    text-align: justify;
    
}.imagePeopleText4 span{
    display: flex;
    font-size: 1rem;
    width: 490px;
    height: 180px;
    background-color: #F6F7F8;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    padding:0 20px;
    text-align: justify;
    
}.imagePeopleText5 span{
    display: flex;
    font-size: 1rem;
    width: 490px;
    height: 180px;
    background-color: #F6F7F8;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    padding:0 20px;
    text-align: justify;
    
}
.imagePeopleText4 span{
    display: flex;
    font-size: 1rem;
    width: 480px;
    height: 270px;
    background-color: #F6F7F8;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    padding:0 20px;
    text-align: justify;
    
}
.imagePeopleName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px; 
    font-weight: 800;
    font-size: 14px;
}
.imagePeopleName5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 85px; 
    font-weight: 800;
    font-size: 14px;
}

.text-info{
    position: relative;
    color: #333 !important;
}

.text-info::before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    top: 10%;
    left: -2%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #F6F7F8; 
}
.slideSlider{
    display: block;
    max-width: 100%;
    height: auto;
}
.bodySlickSlider .slick-dots li button::before {
    position: absolute;
    bottom: -25px !important;
    display: block;
    list-style: none;
    text-align: center;
    color: #fff !important;
    border: 1px solid #2f74bb !important;
    height: 12px !important;
    width: 12px !important;
    border-radius: 50%;
    font-size: 0.05rem!important;

}
.bodySlickSlider .slick-dots li.slick-active button:before {
    border: 1px solid #2f74bb !important;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}
.bodySlickSlider .slick-prev {
    margin-left: 215px;
    background-color: #fff!important;
    position: absolute;
     margin-top: -105px !important;
    width: 100px !important;
    height: 100px !important;
    z-index: 1;
   
}
.bodySlickSlider .slick-prev::before{
    font-size: 4rem !important;
    color: #2f74bb !important;

}
.bodySlickSlider .slick-next {
    background-color: #fff!important;
    position: absolute;
    right: 0;
    top: -20px;
    width: 100px !important;
    height: 100px !important;
    z-index: 1;
    margin-right: 150px;
    margin-top: 135px;
    
}
.bodySlickSlider .slick-next::before{
     font-size: 4rem !important;
     color: #2f74bb !important;
}
.shadowBlue{
    box-shadow: 0 10px 31px 0 rgba(6, 145, 245, 0.09);
}
//BODFOURTH
.BodyFourth span{
    margin-top: 60px;
    margin-left: 20px;
}
.bodyFourthco{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 110px;
}
.bodyFourthPost{
    display: flex;
    max-width: 350px;
    height: 460px;
    text-align: justify;
    background-color: #ededed;
    flex-wrap: wrap;
    border: 2px solid #fff;
    border: 3px solid #ededed;
    border-radius: 1%;
}
.bodyFourthPost:hover{
    cursor: pointer;
}
.bodyFourthImg{
    display: flex;
    width: 335px;
    height: 210px;
    background-image:url("./src/components/img/bodyFourth1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
   
}


.bodyFourthImg2{
    display: flex;
    width: 335px;
    height: 210px;
    background-image:url("./src/components/img/bodyFourth2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}
.bodyFourthImg3{
    display: flex;
    width: 335px;
    height: 210px;
    background-image:url("./src/components/img/bodyFourth3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}
.bodyFourthImg4{
    display: flex;
    width: 335px;
    height: 210px;
    background-image:url("./src/components/img/bodyFourth4.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}
.bodyFourthImg5{
    display: flex;
    width: 335px;
    height: 210px;
    background-image:url("./src/components/img/bodyFourth5.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}
.bodyFourthImg6{
    display: flex;
    width: 335px;
    height: 210px;
    background-image:url("./src/components/img/bodyFourth6.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}
.bodyFourthBlog{
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: justify;
    padding-left: 5px ;
    padding-right: 60px;
    margin-top: 5px;
}
.bodyFourthDate{
    margin-top: 5px;
    display: flex;
    padding-left: 5px ;
}
.bodyFourthDes{
    margin-top: 10px;
    display: flex;
    font-weight: 200;
    padding-left: 5px ;
    font-size: 0.9rem;
}
.readmore{
    margin-top: 80px;
    padding-left: 5px ;
    font-weight: 600;
}
.readmore2{
    margin-top: 40px;
    padding-left: 5px ;
    font-weight: 600;
}
.readmore3{
    margin-top: 35px;
    padding-left: 5px ;
    font-weight: 600;
}
.readmore4{
    margin-top: 85px;
    padding-left: 5px ;
    font-weight: 600;
}
.readmore5{
    margin-top: 35px;
    padding-left: 5px ;
    font-weight: 600;
}
.bodyFourthco .slick-prev {
    margin-left: 215px;
    background-color: #2f74bb!important;
    position: absolute;
    margin-top: -270px !important;
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
   border-radius: 5%;
   margin-left: 1050px;
    
}
.bodyFourthco .slick-prev::before{
    font-size: 1.8rem !important;
    color: #fff !important;
}
.bodyFourthco .slick-next {
    background-color: #2f74bb !important;
    position: absolute;
    right: 0;
    top: -20px;
    width: 40px !important;
    height:40px !important;
    z-index: 1;
    margin-right: 40px;
    margin-top: -20px;
    border-radius: 5%;
    
}
.bodyFourthco .slick-next::before{
     font-size: 1.8rem !important;
     color: #fff !important;
}
.bodyFourthco .slick-dots li button::before {
    margin-top: 10px;
        font-size: 0.7rem;
        color: #2f74bb;
}
.bodyFourthco .slick-dots li.slick-active button:before{
    color: #2f74bb;
}
//bodyFifth
.bodyFifth{
    margin-top: 60px;
}
.bodyFifth span{
    font-size: 2rem;
}
.bodyFifthco{
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 120px;
}
.bodyFifthImage1{
    max-width:120px;
    height: 110px;
    background-image:url("./src/components/img/bodyFifth1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.bodyFifthImage2{
    max-width: 120px;
    height: 110px;
    background-image:url("./src/components/img/bodyFifth2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.bodyFifthImage3{
    max-width: 120px;
    height: 110px;
    background-image:url("./src/components/img/bodyFifth3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.bodyFifthImage4{
    max-width: 120px;
    height: 110px;
    background-image:url("./src/components/img/bodyFifth4.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyFifthImage5{
    max-width: 120px;
    height: 110px;
    background-image:url("./src/components/img/bodyFifth5.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.bodyFifthImage6{
    max-width: 530px;
    height: 80px;
    background-image:url("./src/components/img/bodyFifth6.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.bodyFifthImage7{
    max-width: 530px;
    height: 70px;
    background-image:url("./src/components/img/bodyFifth7.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.bodyFifthImage8{
    max-width: 505px;
    height: 50px;
    background-image:url("./src/components/img/bodyFifth8.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyFifthSlider .slick-dots li button::before {
    margin-top: 10px;
        font-size: 0.7rem;
        margin-left: 20px;
}

